@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.invert{
  filter: invert(1);
}

.bgPrimary {
  background-color: #000000 !important;
}

.bgSecondary {
  background-color: #1c1c1c !important;
}

.bgMuted {
  background-color: #242424 !important;
}

.bgLight {
  background-color: #d7fd52 !important;
}

.textBlack {
  color: #000000;
}

.textWhite {
  color: #FFFFFF;
}

.topbarContainer{
  height:100px;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  background: linear-gradient(to bottom,  rgba(28, 28, 28, 1) 0%, rgba(28, 28, 28, 0.8) 50%, rgba(28, 28, 28, 0) 100%);
}

.logoutTop{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  border-radius: 5px;
  filter: invert(1);
}

.topbarBG{
  width: 100%;
  height: 70px;
  background-color: black;
  position: relative;
  border-radius: 0px 0px 20px 20px;
}

.topbar{
  width: 100%;
  height: 70px;
  position: fixed;
  top:0;
  z-index: 11;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.gymName{
  color: #d7fd52;
  font-weight: bold;
  font-size: 20px;
}

.topProfile{
  width: 65px;
  margin: 5px;
  border-radius: 100px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topLogo{
  border-radius: 150px;
  justify-content: center;
  align-items: center;
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.textHighlight{
  margin:10px;
  font-weight: bold;
}

.topUserName{
  padding: 0 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  border-radius: 5px;
}

.navbarContainer{
  height: 100px;
  position: fixed;
  bottom:0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(to top,  rgba(28, 28, 28, 1) 0%, rgba(28, 28, 28, 0.8) 50%, rgba(28, 28, 28, 0) 100%);
}

.navbarBG{
  width: 100%;
  height: 38px;
  background-color: black;
  position: relative;
  border-radius: 20px 20px 0px 0px;
}

.navbar{
  width: 100%;
  height: 70px;
  position: fixed;
  bottom:0;
  z-index: 11;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  padding: 0 20px;
}

.qrButton{
  width: 70px;
  border-radius: 100px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButton{
  color: white;
  background-color: #242424;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.25s ease-in-out;
}

.navButton:hover{
  background-color: #4b4b4b;
  cursor: pointer;
}

.navButton.active{
  color: #d7fd52;
  background-color: #242424;
}

.navButton.active:hover{
  background-color: #4b4b4b;
  cursor: pointer;
}

.dashboardHeader{
  width: 100%;
}

.userDashboard{
  margin-top: 50px;
}

.dashboardHeader > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  filter: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

.dashboardHeader::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, rgba(28, 28, 28, 1) 0%, rgba(28, 28, 28, 0.8) 20%, rgba(28, 28, 28, 0.5) 100%);
  width: 100%;
  height: 500px;
  z-index: 0;
}

.dashboardTitle{
  width: 30vw;
  height: 150px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color:#aeaeae;
  gap: 1em;
}

.dashboardHeader .topLogo, .dashboardHeader .topProfile{
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

.textTitle{
  color: #d7fd52;
  font-size: 36px;
  font-weight: bold;
}

.dashboardSubTitle{
  width: 100%;
  height: 500px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.dashboardSubTitle .row{
  margin-top: 40px;
  display: flex;
  gap: 1em;
}

.buttonLight{
  color: black;
  background-color: #d7fd52 !important;
  border-radius: 50px;
  height: 45px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}

.userOrderSummary .buttonTransparent,
.userOrderSummary .buttonLight{
  width: 400px;
  margin: 10px;
  border-radius: 5px;
}

.buttonLight:hover{
  background-color: black !important;
  color: #d7fd52;
  cursor: pointer;
}

.buttonTransparent{
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  height: 45px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.buttonTransparent:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.topbarContainer,.topbar,.navbarContainer,.navbar{
  width: 30%;
}

.dashboardSubTitle .textTitle{
  color: white;
}
.dashboardSubTitle .textContent{
  color:rgb(189, 189, 189);
  font-size: 20px;
  width: 80%;
  text-align: center;
}

.headerRibbon{
  width: 100%;
  height: 36px;
  background-color: #d7fd52;
  color: black;
  font-weight: bold;
  letter-spacing: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 18px;
}

.section{
  display: flex;
  flex-direction: column;
  padding: 2em 1em 2em 1em;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 2em;
}

.section:nth-child(even){
  background-color: #000000;
}

.section:nth-child(odd){
  background-color: #1c1c1c;
}

.dashboardGallery{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.dashboardGallery > div{
  border-radius: 5px;
  width: 450px;
  height: 300px;
}

.dashboardGallery > div > div > svg{
  filter: invert(1);
}

.dashboardGallery > div:before{
  content: "";
  position: absolute;
  background-color: rgba(28, 28, 28, 0.7);
  width: 450px;
  height: 300px;
  z-index: 0;
}

.galleryContent {
  display: flex;
  flex-direction: column;
  margin: 1em;
  z-index: 1;
  position: absolute;
  height: calc(300px - 4em);
  justify-content: center;
}

.galleryContent > .textTitle{
  margin-top: 30px;
  font-size: 28px;
}

.dashboardGallery > div:not(:nth-child(1)) > div > .textTitle{
  color:white;
}

.galleryContent > .textContent{
  color:rgb(189, 189, 189);
  width: 440px;
}

.galleryContent > img{
  width: 100px;
  filter: brightness(0) invert(1);
}

.gymSessionHeader{
  height: 300px;
}

.gymSessionSubTitle{
  width: 100%;
  height: 300px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.gymSessionSubTitle .textContent{
  color:rgb(189, 189, 189);
  font-size: 20px;
  width: 80%;
  text-align: center;
}

.gymSessionHeader::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, rgba(28, 28, 28, 1) 0%, rgba(28, 28, 28, 0.8) 20%, rgba(28, 28, 28, 0.5) 100%);
  width: 100%;
  height: 300px;
  z-index: 0;
}

.gymSessionGalerry{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.gymSessionGalerry > div{
  border-radius: 5px;
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: row-reverse;
}

.galleryBanner{
  width: 40px;
  height: 200px;
  background-color: #a3be3f;
  position: absolute;
  z-index: 2;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.rotateText{
  transform: rotate(90deg);
  transform-origin: left bottom;
  color: black;
  font-weight: bold;
  width: 300px;
  height: 32px;
  letter-spacing: 1px;
  display: flex;
  text-align: center;
}

.gymSessionGalerry > div > div > svg{
  filter: invert(1);
}

.gymSessionGalerry > div:before{
  content: "";
  position: absolute;
  background-color: rgba(28, 28, 28, 0.7);
  width: 450px;
  height: 200px;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.gymSessionGalerry > div:hover:before{
  background-color: rgba(0, 0, 0, 0.7);
}

.gymSessionGalerry .item img{
  transition: 1s ease-in-out;
}

.gymSessionGalerry .item:hover img{
  transform: scale(1.1);
}

.gymSessionGalerry .item:hover .galleryBanner{
  background-color: #d7fd52;
}

.gymSessionGalerryContent {
  display: flex;
  flex-direction: column;
  margin: 1em 3.5em -1em -1em;
  z-index: 1;
  position: absolute;
  height: calc(200px - 2em);
  justify-content: space-between;
}

.gymSessionGalerryContent > .textTitle{
  font-size: 28px;
}

.gymSessionGalerry > div > div > .textTitle{
  color:white;
}

.gymSessionGalerryContent > .textContent{
  color:rgb(189, 189, 189);
  width: 380px;
}

.gymSessionGalerry img{
  width: 100%;
}

.sessionDetail{
  width: 380px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.sessionDetail .time{
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 0.2em 0.8em;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.sessionDetail .capacity{
  font-weight: bold;
}

.membershipGallery .item,.membershipGallery .galleryContent,.membershipGallery img{
  height: 100px;
}

.membershipGallery .galleryContent > *{
  width: 400px;
}

.membershipGallery .galleryContent{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.membershipGallery > div:before{
  content: "";
  position: absolute;
  background-color: rgba(28, 28, 28, 0.7);
  width: 0;
  height: 0;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.item > .row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  background-color: black !important;
  margin-bottom: 30px;
  padding-top: 25px;
  color:rgb(189, 189, 189);
}

.userOrderSummary{
  position: fixed;
  width: 30%;
  top:0;
  z-index: 20;
  max-height: 100vh;
  overflow: hidden;
}

.userOrderSummary .gymSessionSubTitle{
  background-color: #1c1c1c;
}

.userOrderSummary .gymSessionHeader,
.userOrderSummary .gymSessionSubTitle,
.userOrderSummary .gymSessionHeader::before{
  height: 200px;
}

.userOrderSummary .section{
  height: 700px;
}

.userOrderSummary .membershipGallery *{
  position: static;
}

.userOrderSummary .item{
  height: 150px;
}

.row{
  display: flex;
}

.col{
  display: flex;
  flex-direction: column;
}

.userOrderSummary .item .textTitle{
  text-align: left;
}

.userOrderSummary .item .textContent{
  text-align: left;
}

.userOrderSummary .galleryContent{
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  background-color: #1c1c1c;
  border: 1px solid rgb(189, 189, 189);
  padding: 5px;
  border-radius: 5px;
}

.userOrderSummary .galleryContent > .col:first-child{
  width: 30%;
}

.userOrderSummary .footer{
  margin-bottom: 0px;
}

.userOrderSummary .textContent{
  width: 50%;
  color:rgb(189, 189, 189);
  text-align: center;
}

.loginPage form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage{
  height: 100%;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage .textTitle{
  margin-bottom: 1em;
}

.loginPage .subTitle{
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.loginPage .textContent{
  color: #ffffff;
  font-size: 18px;
}

.loginPage form{
  margin-top: 1em;
}

.formGroup{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.formGroup > label{
  color: #ffffff;
  font-size: 18px;
}

.formGroup > input{
  width: 300px;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.formGroup > input:focus{
  outline: none;
}

.loginPage .buttonLight{
  margin: 1em 0 0 0;
}

@media (max-width: 1300px) {
  .dashboardHeader::before {
    width: 100%;
  }

  .dashboardSubTitle{
    width: 100%;
  }

  .topbarContainer,.topbar,.navbarContainer,.navbar,.dashboardTitle, .headerRibbon{
    width: 100%;
  }

  .userOrderSummary{
    width: 100%;
  }
}

@media (max-width: 480px) {

}